@model IEnumerable<EvidenceZakazekWebApp.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<table id="products" class="table table-striped table-bordered"></table>


@section scripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/b-1.4.0/b-colvis-1.4.0/datatables.js"></script>

    <script>
        $.getJSON("/api/Products/forTable", function (json) {
            $(document).ready(function () {

                // format like columns: [{ "title": "name"}, { "title": "country"}]
                // format like data: [["John Doe","Fresno"],["Billy","Fresno"],["Tom","Kern"],["King Smith","Kings"]]}]

                $('#products').DataTable({
                    data: json["data"],
                    columns: json["columns"],
                    searching: false,
                    paging: false,
                    ordering: false,
                    info: false
                });
            });
        });
    </script> 
}
