@model IEnumerable<EvidenceZakazekWebApp.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<ul class="products">
    @foreach (var product in Model)
    {
        <li>@product.Name | @product.OrderNumber | @product.Price Kč</li>
    }
</ul>
