@model EvidenceZakazekWebApp.ViewModels.CrudTableViewModel
@{
    ViewBag.Title = Model.Heading;
}

<h2>@Model.Heading</h2>

<table class="table table-striped table-bordered @Model.ControllerName" data-controller-name="@Model.ControllerName"></table>


@section scripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.15/b-1.4.0/b-colvis-1.4.0/datatables.js"></script>

    <script>
        var table = $("table").first();
        var controllerName = table.attr("data-controller-name");
        var controllerNameCap = capitalizeFirstLetter(controllerName);

        $.getJSON("/api/" + controllerNameCap +"/forTable", function (json) {
            $(document).ready(function () {

                // format like columns: [{ "title": "name"}, { "title": "country"}]
                // format like data: [["John Doe","Fresno"],["Billy","Fresno"],["Tom","Kern"],["King Smith","Kings"]]}]

                table.DataTable({
                    data: json["data"],
                    columns: json["columns"],
                    searching: false,
                    paging: false,
                    ordering: false,
                    info: false
                });
            });
        });

        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
        }
    </script>
}


