@model EvidenceZakazekWebApp.ViewModels.DetailViewModel
@{
    ViewBag.Title = Model.Heading;
}

<h2>@Model.Heading</h2>

<a class="btn btn-default voffset1" href="@Url.Action("Index", Model.ControllerName)" role="button">Zpět</a>

<table class="table table-striped table-bordered table-nonfluid detail">
    <tbody>
        @foreach (var property in Model.Properties)
        {
            <tr>
                <td>@property.Key:</td>
                <td>@property.Value</td>
            </tr>
        }
    </tbody>
</table>

