html {
   position: relative;
   min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 0px 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;

    .container {
        margin-top: 20px;
    }
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set wiements sincdth on the form input ele they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}


/* Defitions of help classes for vertical offset */
.voffset { margin-top: 2px; }
.voffset06 { margin-top: 6px; }
.voffset1 { margin-top: 10px; }
.voffset2 { margin-top: 20px; }
.voffset3 { margin-top: 30px; }
.voffset4 { margin-top: 40px; }
.voffset5 { margin-top: 50px; }

/* Bootstrap overrides */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../Content/fonts/glyphicons-halflings-regular.eot');
  src: url('../Content/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../Content/fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('../Content/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../Content/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.input-group {
    width: 300px;
}

.table {
    white-space: nowrap;
    width: 1%;
}

/* Page-level styles */

// Common
.allertsContainer {
    .voffset2;
}

// ProductCategory form
form.productCategories {
    .properties  {
        ul {
            > li {
                .form-group {
                    margin-bottom: 0;
                }
            }
        }
    }
}

// Product form
form.products {
    ul.propertyValues {
        list-style-type: none;
        padding-left: 0;

        .panel {
            width: fit-content;
        
            .form-group {
                margin: 10px;

                input {
                    width: 280px;
                }
            }
        }    
    }
}



// CRUD table
.crudTable{
    .voffset2;
    
    thead {
        tr {
            th {
                &:first-child {
                    display: none;
                }
            }
        }
    }

    tbody {
        tr {
            td {
                &:first-child {
                    display: none;                
                }

                > button:not(:last-child) {
                    margin-right: 5px;
                }
            }
        }
    }
}

// Detail
table.detail {
    .voffset2;

    tr {
        td {
            padding-right: 45px;

             &:first-child {
                font-weight: bold;
                padding-right: 18px;
            }
        }
    }
}

