body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}


/* Defitions of help classes for vertical offset */
.voffset { margin-top: 2px; }
.voffset06 { margin-top: 6px; }
.voffset1 { margin-top: 10px; }
.voffset2 { margin-top: 20px; }
.voffset3 { margin-top: 30px; }
.voffset4 { margin-top: 40px; }
.voffset5 { margin-top: 50px; }

/* Bootstrap overrides */

.input-group {
    width: 300px;
}

.table{
    white-space: nowrap;
    width: 1%;
}

/* Page-level styles */

.products{
    .voffset2
}

table#products {
    .voffset2;
    width: 80%;
}

.productCategoryProperties ul > li .form-group {
    margin-bottom: 0;
}

ul.propertyValues {
    list-style-type: none;
    padding-left: 0;

    .panel {
        width: fit-content;
        
        .form-group{
            margin: 10px;

            input {
                width: 280px;
            }
        }
    }    
}

table.detail{
    .voffset2;
    tr{
        td{
            &:first-child{
            font-weight: bold;
            padding-right: 18px;
            }
            padding-right: 45px;
        }
    }
}

